<!--The content below is only a placeholder and can be replaced.-->


<md-sidenav-container style="height: 100vh">
  <md-toolbar color="primary">
    <span><button type="button" md-icon-button (click)="sidenav.open()"><i class="material-icons">menu</i></button></span>
    <span class="fill-space"></span>
    <span>My App</span>
  </md-toolbar>
  <md-sidenav #sidenav style="width: 90vh;">
    <md-toolbar>Application Menu</md-toolbar>
    <md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list>
    <md-toolbar>Settings</md-toolbar>
  </md-sidenav>


</md-sidenav-container>
